
*{
    color:bisque;
    font-family: sans-serif;
    background-color: darkslategray;
}

.impact {
    font-family: rockwell;
}

h1 {
    color:rgb(177, 234, 120);
}

h2 {
    color:rgb(177, 234, 120);
}